### Backend (.NET)
bin/
obj/
out/
.vs/
*.user
*.suo
*.userosscache
**/.filenesting.json
appsettings.Development.json
appsettings.Local.json


### Frontend (React/Vite)
node_modules/
dist/
.env
.env.*

### Common
*.log
*.tmp
*.cache
Thumbs.db
Desktop.ini
.vscode/
.idea/
/backend/chas happenings/Infrastructure/Migrations
